Flask==3.0.3
gspread==6.0.0
google-api-python-client==2.128.0  # Versión ligeramente anterior a 2.131.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.0
gunicorn
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30
cryptography==42.0.8 # Añadido para asegurar compatibilidad SSL
pyopenssl==24.0.0   # Añadido para asegurar compatibilidad SSL
